.row
  .col.s12.m6.featured-post
    = image_tag(featured_post_image)
  .col.s12.m6.featured-page
    = image_tag(featured_post_image)
    .row
      .col.s6.m3.small-featured
        = image_tag(featured_post_image)
      .col.s6.m3.small-featured
        = image_tag(featured_post_image)
