$green: #00cc66;
$dark-green: #006633;
$gray: #f2f2f2;
$dark-gray: #dadada;
$pink: #ff0066;
$primary-color: color("materialize-blue", "lighten-2") !default;
$sand: #F2E8C4;
$rainforest: #98D9B6;
$seton-blue: #2B879E;
$dust-grey: #616668;
$header-green: #3EC9A7;