// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables";
@import "_mixins";

.post-image {
  @include image;
}

.post-image-small img {
  max-width: 100%;
}

.posts-header {
  color: $green;
  text-shadow: 2px 2px 5px $dark-gray;
}

.index-wrapper {
  border: 1px solid $dark-gray;
  padding: 1em;
  margin-bottom: .5em;
  background: $gray;
    .post-title {
      font-size: 1.5em;
        a:hover {
          color: $pink;
        }
    }
    .post-date {
      font-size: .75em;
    }
}